body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

input[type="file"],
input[type="text"],
textarea,
button {
    display: block;
    margin: 10px auto;
}

#imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin: 20px;
    text-align: center;
}

.image-container img {
    max-width: 200px;
}

#downloadLink {
    margin: 10px auto;
    display: none;
}
